<html>

 <head> 
    <title>addauthor</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312" /> 
  <style type="text/css">
	body {
	background-image: url(../../images/?id=Background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
</style> 
 </head> 
 <body> 
  <center>
   <font size="9;" color="blue"> <strong>添加作者 </strong></font>

  </center>
  <strong> <p>&nbsp;</p> <p>&nbsp;</p>

   <form method="post" action="/authoradd/"> 
   

  <p align="center"><input type="text" name="authorid" placeholder="{{authorid}}" class="login-field" /> </p>
   
    <p align="center"><input type="text" name="name" placeholder="名字" class="login-field" /> </p>
    <p align="center"><input type="text" name="age" placeholder="年龄" class="login-field" /> </p>
    <p align="center"><input type="text" name="country" placeholder="国家" class="login-field" /></p> 
    <center>
     <input type="submit" value="保存" /> 
    </center>
   </form>   
   <center>
    <a href="/"> 回到主页 </a> 
  </center> 

 </body>
</html>