<html>
 <head> 
  <title>index</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312" /> 
  <style type="text/css">
	body {
	background-image: url(../../images/?id=Background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
</style> 
 </head> 
 <body> 
  <p>&nbsp;</p> 
  <center> 
   <h1> <strong> 欢迎来到我的电子图书馆 </strong> </h1> 
  </center> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <center> 
   <h1> 请尽情使用吧 </h1> 
  </center> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <center> 
   <a href="../showall/"> 查看所有书籍 </a> 
  </center> 
  <p>&nbsp;</p> 
  <center> 
   <a href="../sear/"> 查找书籍 </a> 
  </center> 
  <p>&nbsp;</p> 
  <center> 
   <a href="../add/"> 新增书籍 </a> 
  </center> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <center> 
   <font size=1><h1> 1.为保证页面显示效果，推荐您使用chrome浏览器 </h1></font> 
   <font size=1><h1> 2.copyright：2015-2016, HITCS wlw </h1> </font> 
  </center> 
 </body>
</html>